@(message: String)



@main("Welcome to Play 2.0") {
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.css")">
    
	<!-- Begin head -->
	<head>
		<!-- Begin Navbar section-->
		<div class="navbar">
		  <div class="navbar-inner">
		    <a class="brand" href="#">Scalamarie</a>
		    <ul class="nav">
		      <li class="active"><a href="#">Home</a></li>
		      <li><a href="#">Link</a></li>
		      <li><a href="#">Link</a></li>
		    </ul>
		  </div>
		</div>
		<!-- End Navbar section-->
	</head>
	<!-- End head -->
	
	<!-- Begin body -->
	<body>
		<div class="container-fluid">
			<div align="center">
				<h1> Tracy loves Squid </h1>
			</div>
	</body>
	<!-- End body -->
}